
body {
    background-color: beige;
    padding: 50px;
}

div.celda {
    vertical-align: top;
    width: 45px;
    height: 45px;
    margin: 3px;
    border-radius: 4px;
    background-color: green;
    display: inline-block;
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    color: white;
}

div.celda.mina {
    background-color: red;
}

div.celda.oculta, div.celda.mina.oculta {
    background-color: grey;
    cursor: pointer;
}